/* HEADER */
a {
  text-decoration: none; 
  color: inherit; 
}
/* hr{
  display:none;
} */
.menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  padding: 0;
  margin-left:267px;
  padding-top: 49px;
}
.menu li {
margin-right: 32px;
font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.2em;
text-transform: uppercase;
color: #FFFFFF;

}
.menu .project {
font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 16px;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #FFFFFF;
margin-right: 165px;
}
.menu li:last-child {
  margin-right: 0;
}
.line-1 {
  border: none;
  border-top: 2px solid #FFFFFF;
  margin: 2 32px;
  flex-grow: 1;
}
/* HERO */
.hero {
  background-image: url(assets/Desktop_Backgrounds_1920x1200.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;  
  height: 100vh;
  width: 1518px;
  margin-left:-8px;
  margin-right: -1px; 
  margin-top: -16px;

}
.logo-container{
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
  padding-top:203px;
}
.headline{
  display:flex;
  align-items: center;
  justify-content: center;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #FFFFFF;
  margin-top:13px;
}
.content{
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top:49px;

  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}
/* MAIN */
.section-headline{
  display:flex;
  justify-content: center;
  margin-top:66px;

  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #464547;
}
.subtitle{
  display:flex ;
  justify-content: center;
  margin-top: 39px;

  
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */

  text-align: center;

  color: #666666;

}
.main-content{
  display: flex;
  justify-content: center;

  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #666666;

}
.content-one{
  width: 408px;
  margin-right: 83px;
  height: 172px;
}
.content-two{
  width: 416px;
  margin-left:0;
  height: 172px;
}

.read-more{
  border-radius: 18px;
  border: 0cm;
  background: #55C2D8;
  font-family: 'Oswald Regular';
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}
.read-more-button{
  display:flex;
  justify-content: center;
}
/* LEARN MORE */
.learn-more{
  background-image: url(assets/desktop-version-second.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;  
  height: 100vh;
  width: 1519px;
  margin-left:-8px;
  margin-top: 98px;
  overflow: hidden;

}
.lern-more-headline{
  display: flex;
  justify-content: center;
  margin-top: 80px;

  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #FFFFFF;
}
.button-wrap{
  background-color: rgb(0, 213, 255);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left:calc(50% - 75px);
  overflow: hidden; 

}
.play-button {
  width: 150px; 
  height: 150px; 
  border: none;
  background-color: rgb(0, 213, 255);; 
  border-radius: 50%; 
}
.play-button::before {
  content: "";
  display: inline-block;
  border-style: solid;
  border-width: 20px 0 20px 35px; 
  border-color: transparent transparent transparent white; 
  transform: translateX(15%); 
}
.learn-more-info{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 55.54px;
  width:351px;
  height:97.56px;
  margin-left:calc(50% - 175.5px);

  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #FFFFFF;
}
footer{
  display: flex;
  justify-content: center;
  background: #464547;
  height: 199px;
  width: 1521px;
  margin-left: -10px;
  margin-right: -10px;
}

.footer-block-1{
  width:360px;

  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.small-logo1{
  width: 20px;
  height: 20px;
}
.small-logo{
  margin-top: 37px;
}
.footer-headline{
  margin-left: 36px;
  margin-top: -20px;
}
.footer-block-2{
  width: 462px;

  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.4);
}
.address{
  margin-top: 39px;
  margin-bottom: 11px;
}
.footer-block-3{
  width:378px;

  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.4);
}
.policy{
  margin-top:87px;
}
@media (max-width: 480px) {
  .menu{
    display:grid;
    align-items: center;
    justify-content: flex-start;
    margin-left: 27px;
    padding-top: 57px;
    margin:0;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  hr{
      
      display: grid;
      grid-row: 2;
      margin:2px;
      justify-content: flex-end;
      justify-content: end;
      border: 3px solid #FFFFFF;
      width:20px;
    
  }
  .projects, .about-us, .stories, .contact{
    display:none;
  }
  .hero {
    background-image: url(assets/Desktop_Backgrounds_1920x1200_6.jpg);
    width:480px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;  
  }
  .logo-container{
    padding-top:150px;
  }
  .headline{
    display:flex;
    align-items: center;
    justify-content: center;
    margin:0;

  }
  .content{
    margin:0;
  }
  .section-headline{
    display:flex;
    justify-content: center;
    align-items:center;
    margin-left:63px;
    width:355px;
    height:261px;
  }
  .subtitle{
    display:flex;
    width:453;
    height:81px;
    margin-top:50px;
  }
  .main-content{
    display:grid;
    align-items: center;
    justify-content: start;
    margin-left:27px;
  }
  .content-one{
    width:445px;
    height:183px;
    margin:0;
  }
  .content-two{
    height:129px;
    margin: 0;
  }
  .read-more-button{
    margin-top:24px;
    margin-bottom: 121.33px;
  }
  .learn-more{
    background-image: url(assets/mobile-version-second.jpg);
    width:480px;

  }
  .lern-more-headline{
    display:flex;
    align-items: center;
    justify-content: center;
    width:487.77px;
    height:117px;
    margin-top:72px;
    margin-bottom: 0;
  }
  .button-wrap{
    display:flex;
    width:100px;
    height: 100px;
    justify-content: center;
    margin-left:193px;
    margin-top:91px;
  }
  .play-button{
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .learn-more-info{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left:45.73px;
    width:396.32px;
    height:102px;
  }
  footer{
    display:grid;
    justify-items: center;
    height:292px;
    width:481px;
  }
  .footer-block-1{
    width:150px;
    height:20px;
    margin:0;

  }
  .footer-block-2{
    width:150px;
    height: 33px;
    margin-top:31px;

  }
  .footer-block-3{
    width:250px;
  }
}